/* css for the page  of Spartan Invader*/
body {
	text-align: center;
	justify-content: center;
	background-color: aquamarine;
	margin:0;
}
/* Header CSS */

header h1 {
	font-size: 70px;
	font-weight: 600;
	background-image: linear-gradient(to left, #e90878 45%, #0be241);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	margin-top: 0px;
	margin-bottom: 0px;
    padding-bottom: 10px;
}
/* HTML canvas CSS */
canvas {
	border: 1px solid black;
	width: 80%;   
	height: 35%;
}
/* Left, Right, Fire buttons' css */
button {
	width: 26%;
	height: 100%;
	font-size: 200%;
	margin-right: 5px;
}
/* footer code */
footer {
	width: 100%;
	margin: auto;
	padding: 20px;
	
	text-align: center;
	display:flex;
  }

  .left-box {
	width: 50%;
	font-size: 200%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
  }

  .right-box {
	width: 50%;
   
	font-size: 200%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	justify-content: space-evenly;
  }

/* feedback form */


/*feedback button */
/* Form code is taken from here https://www.w3schools.com/howto/howto_css_contact_form.asp */
* {box-sizing: border-box;}
/* should be text area */
input[type=text], select, textarea {
  
  border: 3px solid #942424;
  margin-bottom: 15px;
  resize:  vertical;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin-top: 6px;
}
/* button */

.container {
  
  text-align: center;
  font-size: 150%;
  background-color: #c9c5c2;
  padding: 25px;
  text-align: center;
  font-size: 150%;
  width: 80%;
  margin: auto;

}
input[type=submit] {
  background-color: #c20d2b;
  color: white;
  padding: 12px 60px;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #72072a;
}

/* Code of 404 page */
.bodyfof {
	background-color: rgb(208, 238, 196);
}
  
.hfof{
	font-size: 70px ; 
	/* border-style: dotted */
	margin-top: 0px;
  	margin-bottom: 0px;
	padding-bottom:0px;
}

.pfof {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	/* border-style: dotted */
}



@media only screen and (max-width: 1500px) {
	h1 {
		font-size: 60px ;
	}
	/* HTML canvas CSS */
	canvas {
		border: 1px solid black;
		width: 90%;   
		height: 35%;
	}
	/* Left Right Fire buttons' css */
	button {
		width: 29%;
		height: 100%;
		font-size: 200%;
		margin-right: 5px;
	}
	/* footer css*/
	.footer {
		background-color: red;
		width: 88%;
		margin: auto;
		display: inline-block;
		/* text-align: center; */
		font-size: 200%;
	}
  }

  @media only screen and (max-width: 580px){
	h1 {
		font-size: 60px ;
	}
	/* HTML canvas CSS */
	canvas {
		border: 1px solid black;
		width: 90%;   
		height: 35%;
	}
	/* Left Right Fire buttons' css */
	button {
		width: 30%;
		height: 100%;
		font-size: 200%;

	}
	/* footer css*/
	.footer {
		background-color: red;
		width: 90%;
		margin: auto;
		/* text-align: center; */
		font-size: 150%;
	}

  }



